<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.remixicon.com/releases/v2.1.0/remixicon.css" rel="stylesheet">
</head>

<body class="bg-gray-900 text-white">
    <%-include('navbar')%>
        <div class="container mx-auto py-10">
            <h1 class="text-xl text-green-300 mb-6 font-bold">User Profile</h1>
            <div class="max-w-md mx-auto bg-gray-800 rounded-lg p-6">
                <p><strong>Username:</strong>
                    <%= user.username %>
                </p>
                <p><strong>Name:</strong>
                    <%= user.name %>
                </p>
                <p><strong>Age:</strong>
                    <%= user.age %>
                </p>
            </div>
        </div>
        <div class="container px-4">
            <h2 class="font-bold text-white-300 m-4">Your posts:</h2>
            <div class="post-container flex flex-wrap gap-2">
                <% user.posts.forEach(post=> { %>
                    <div class="bg-gray-800 w-full md:w-1/2 lg:w-1/3 rounded-lg overflow-hidden shadow-lg mb-4">
                        <div class=" mt-3 px-3">
                            <i class="ri-time-line"></i>
                            <% var timediff=Math.floor((Date.now() - post.timeCreated) / 60000); if (timediff>= 60 &&
                                timediff < 1440) { timediff=Math.floor(timediff / 60) +" hour"; } else if (timediff>=
                                    1440) {
                                    timediff = Math.floor(timediff / 60 / 24) + " days";}
                                    else {
                                    timediff = timediff+" minutes";}
                                    %>
                                    <%= timediff %> ago
                        </div>
                        <div class="p-3">
                            <h2 class="text-xl h-6 mt-3 overflow-hidden font-semibold mb-2">
                                <%= post.title %>
                            </h2>
                            <p class="text-gray-400 h-6 overflow-hidden">
                                <%= post.description %>
                            </p>
                            <div class="buttons flex px-2 mt-4 items-center justify-between ">
                                <a class="hover:text-blue-500" href="/edit/<%= post._id %>"><i
                                        class="ri-thumb-up-fill"></i> Like</a>
                                <a class="text-grey-700" href="/edit/<%= post._id %>"><i class="ri-pencil-fill"></i>
                                    Edit</a>
                                <a class="text-red-500" href="/edit/<%= post._id %>"><i class="ri-delete-bin-fill"></i>
                                    Delete</a>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>
</body>

</html>